.title {
    width: 100%;
    margin: 100px auto 100px auto;
    text-align: center;
}
.canvas_wrapper {
    text-align: center;
    margin: 0 auto 0 auto;
    font-size: small;
}
#CPR_canvas {
    border: 1px solid;
}